{{>layout/header}}

<div class="container">
    <h1>장바구니</h1>
    <div class="row">

    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>상품정보</th>
            <th>구매수량</th>
            <th>가격</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#cart}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>{{price}}</td>
                <td><a href="/cart/delete/{{id}}">삭제</a></td>
            </tr>
        {{/cart}}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{{>layout/footer}}