{{>layout/header}}
<div class="container">
    <h1>스프링 부트로 시작하는 웹 서비스 Ver.2</h1>
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
            {{/userName}}
            <br>
            <a href="/item">상품</a>
        </div>
    </div>
    <br>
</div>
{{>layout/footer}}