{{>layout/header}}

<br>

{{>layout/bodyHeader}}

<br>
<h2>추천 상품</h2>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#item}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/item/info/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/item}}
    </tbody>
</table>
</div>

{{>layout/footer}}